.DS_Store
node_modules/
.env
.env.*
!.env.example
dist/
build/
out/
.vercel/
.vscode/
.idea/

# Foundry
out/
cache/
broadcast/
.env

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/
tsbuildinfo
